<!DOCTYPE html>
<html>
	<head>
		<link href="http://localhost/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="http://localhost/static/bootstrap/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
                <!-- sidebar -->
				<div class="span3 offset1">
					<hr/>
                    {% if request.user.is_authenticated %}
                     <p><a href="/blog/artist/{{ request.user.username }}/"><img src="http://t1.gstatic.com/images?q=tbn:ANd9GcTPx9jF6ey9qMEzTrvvTb04Q6FfDEeUVw-KKxgZRVsaBSqlpP4L-w&t=1" height=50 width=50 class="img-polaroid"></a> {{ request.user.username }}</p>
                    {% endif %}
					<form class="form-search">
						<div class="input-append">
							<input type="text" class="span9 search-query">
							<button type="submit" class="btn">Dig</button>
						</div>
					</form>
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-link" href="/blog/submit/">Paint</a>
                    {% endif %}
                    <a class="btn btn-link" href="/blog/paintings/">Paintings</a>
                    <a class="btn btn-link" href="/blog/artists/">Artists</a>
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-link" href="/auth/logout/">Logout</a>
                    {% else %}
                    <a class="btn btn-link" href="/auth/login/">Login</a>
                    {% endif %}
                    <hr/>
                    <br/>
					<a href="/"><img src="http://localhost/static/pajama.jpg" height=50 width=50 class="img-rounded"></a>
				</div>
                <!-- end of sidebar -->

                <!-- main body -->
				<div class="span7">
					<hr/>
					<blockquote class="pull-right">
						<p>Here goes some quotes</p>
						<small>By No one <cite title="Source Title">from Nowhere</cite></small>
					</blockquote>
					<br/><br/><br/>
					<hr/>

                    {% block content %}{% endblock %}

				</div>
                <!-- end of main body -->
			</div>
		</div>
	</body>
</html>
