{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

        <p class="lead">Registration</p><hr/><br/>
		<form class="form-horizontal" action="" method="post">{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="username">Artist</label>
				<div class="controls">
                {{ form.username.errors }}
					<input type="text" name="username" placeholder="artistname">
                    <span class="help-block">single word, no white space</span>
				</div>
			</div>
   
			<div class="control-group">
				<label class="control-label" for="email">Email Address</label>
				<div class="controls">
                {{ form.email.errors }}
					<input type="text" name="email" placeholder="email">
				</div>
			</div>
	
			<div class="control-group">
				<label class="control-label" for="password">Secret Code</label>
				<div class="controls">
                {{ form.password.errors }}
					<input type="password" name="password" placeholder="code">
				</div>
			</div>
		
            <div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Sign in</button>
				</div>
			</div>
		</form>

{% endblock %}
